In [47]:
import dill as pickle
import pandas as pd
import json
import requests

In [80]:
def pre_processamento(df, estimativas):
        
    #Resolver nulls
    df['Gender'].fillna(estimativas['mode_gender'], inplace=True)
    df['Married'].fillna(estimativas['mode_married'], inplace=True)
    df['Dependents'].fillna(estimativas['mode_dependents'], inplace=True)
    df['Self_Employed'].fillna(estimativas['mode_self_employed'], inplace=True)
    df['Credit_History'].fillna(estimativas['mode_credit_history'], inplace=True)
    df['LoanAmount'].fillna(estimativas['mode_LoanAmount'], inplace=True)
    df['Loan_Amount_Term'].fillna(estimativas['mode_LoanAmountTerm'], inplace=True)
    
    df['Dependents'] = [str(x) for x in list(df['Dependents'])]
    
    gender_values = {'Female' : 0, 'Male' : 1} 
    married_values = {'No' : 0, 'Yes' : 1}
    education_values = {'Graduate' : 0, 'Not Graduate' : 1}
    employed_values = {'No' : 0, 'Yes' : 1}
    property_values = {'Rural' : 0, 'Urban' : 1, 'Semiurban' : 2}
    dependent_values = {'3+': 3, '0': 0, '2': 2, '1': 1}
    df.replace({'Gender': gender_values, 'Married': married_values, 'Education': education_values, \
                'Self_Employed': employed_values, 'Property_Area': property_values, \
                'Dependents': dependent_values}, inplace=True)
        
    #Adequação estrutura de df
    
    df['Gender'] = df['Gender'].astype(int)
    df['Married'] = df['Married'].astype(int)
    df['CoapplicantIncome'] = df['CoapplicantIncome'].astype(float)
    df['Loan_Amount_Term'] = df['Loan_Amount_Term'].astype(float)
    df['Credit_History'] = df['Credit_History'].astype(float)
        
    return(df)

In [81]:
#Carregar dados 

dados = pd.read_csv('Requerimento.csv')

In [82]:
dados = dados.to_json(orient='records')

In [83]:
dados

'[{"Loan_ID":"LP001002","Gender":"Male","Married":null,"Dependents":0,"Education":"Graduate","Self_Employed":"No","ApplicantIncome":5849,"CoapplicantIncome":0,"LoanAmount":null,"Loan_Amount_Term":360,"Credit_History":1,"Property_Area":"Urban"}]'

In [84]:
#API

In [85]:
dados = pd.read_json(dados, orient='records')

In [86]:
dados.head()

,ApplicantIncome,CoapplicantIncome,Credit_History,Dependents,Education,Gender,LoanAmount,Loan_Amount_Term,Loan_ID,Married,Property_Area,Self_Employed
0,5849,0,1,0,Graduate,Male,NaN,360,LP001002,NaN,Urban,No

In [87]:
pred_var = ['Gender','Married','Dependents','Education','Self_Employed','ApplicantIncome','CoapplicantIncome',\
            'LoanAmount','Loan_Amount_Term','Credit_History','Property_Area']

In [88]:
idd = dados['Loan_ID']

In [89]:
dados = dados[pred_var]

In [90]:
dados.head()

,Gender,Married,Dependents,Education,Self_Employed,ApplicantIncome,CoapplicantIncome,LoanAmount,Loan_Amount_Term,Credit_History,Property_Area
0,Male,NaN,0,Graduate,No,5849,0,NaN,360,1,Urban

In [91]:
modelagem_classificacao = '../Modelagem/Modelos/modelo_classificao.pk'

In [92]:
with open(modelagem_classificacao, 'rb') as f:
    modelagem_classificacao = pickle.load(f)

In [93]:
estimativas = modelagem_classificacao[1]

In [94]:
dados = pre_processamento(dados, estimativas)

In [95]:
modelo_classificacao = modelagem_classificacao[0]

In [96]:
dados.dtypes

Gender                 int64
Married                int64
Dependents             int64
Education              int64
Self_Employed          int64
ApplicantIncome        int64
CoapplicantIncome    float64
LoanAmount           float64
Loan_Amount_Term     float64
Credit_History       float64
Property_Area          int64
dtype: object

In [97]:
emprestar = modelo_classificacao.predict(dados)

In [98]:
emprestar

array([1])

In [100]:
modelagem_regressao = '../Modelagem/Modelos/modelo_regressao.pk'

In [101]:
with open(modelagem_regressao, 'rb') as f:
    modelagem_regressao = pickle.load(f)

In [103]:
dados = dados.drop(['LoanAmount'], 1)

KeyError: "['LoanAmount'] not found in axis"

In [104]:
quanto = modelagem_regressao.predict(dados)